@font-face {
    font-family: 'JameelNooriNastaleeq' ;
    src: url('./fonts/JameelNooriNastaleeq.woff2') format('woff2'),
         url('./fonts/jnn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
body {
    background-color: #f9f9f9;
    font: normal 1em / 1.5  sans-serif;
 }

h1 {
    font-family: 'JameelNooriNastaleeq' ;
    font-weight: normal;
    text-align: center;
}
